@import "../../App.css";

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag-list__item {
  background: var(--pills);
  color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid var(--pills-border);
  box-shadow: 0 0px 4px 0.01px #4b6cb7;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}
